/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
ion-card.withborder {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 90%;               
  background-color:#3c3c3c;
  height: 0.2px;
}
.dividercontainer{
  width: 100%;
  padding-left: 15px;
  padding-right:15px;
}
ion-item-divider.withtopborder{
  margin-top: 26px;
  padding: 0;
  --color: var(--ion-color-dark);
  height: 45px;
}
p.weightened{
  width: 100%;
  color: var(--ion-color-dark);
  font-weight: 530;
  font-size: 15px;
  text-align: center;
}
div.partoflist{
  margin-left: 15px;
  margin-right: 45px;
  margin-top: 14px; margin-bottom: 9px;
  display:flex; flex-direction: row; align-items: center; justify-content: space-between;
}
div.partoflistsmall{
  width: 70%;
  margin-right: 10px;
  display:flex; flex-direction: row; align-items: center; justify-content:space-between;
}
div.partoflistsmall2{
  width: 18%;
  margin-left: 8px;
  margin-right: 10px;
  display:flex; flex-direction: row; align-items: center; justify-content:space-between;
}
div.partoflistbig{
  margin-left: 15px;
  margin-right: 45px;
  margin-top: 14px; margin-bottom: 9px;
  display:flex; flex-direction: row; align-items: center; justify-content: space-between;
}
div.amountdiv{
  margin-top: 36px; margin-bottom: 32px;
  width: 100%;
  display:flex; flex-direction: row; align-items: center; justify-content: center;
}
div.chipcontainer{
  display: flex; justify-content:center;
  flex-wrap: wrap;justify-content: center;
}
.chip{
  font-size: 14px;
}
p.list_int{
  font-weight: 650;
  margin-left: 10px;
}
.middle{
  width: 100%;
  height:100px;
  font-weight: 600;
  font-size: 18px;
  color: gray;
  display:flex; flex-direction: row; align-items: center; justify-content: center;
}

:root {
  --ion-background-color: rgb(244, 244, 244);
  /** primary **/
  --ion-color-primary: #0aaec4; /*3880FF  0ac4b4 */
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #ff7b22; /*#5260ff;*/
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}